body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f8ff;
}

.topContainer,
.secondTopContainer,
.trackContainer {
  margin-left: 10%;
}

#searchButton {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.secondTopContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.trackContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  border: 2px solid #000000;
  background-color: #f0f8ff;
  padding: 10px;
}

.coverAlbum {
  width: 100px;
  height: 100px;
}

.titleTrack {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5%;
}

.albumReleaseDate {
  font-size: 12px;
  color: gray;
}

.searchMenuResult {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.titleArtistContainer,
.descriptionContainer,
.albumNameContainer,
.releaseDateContainer {
  width: 25%;
}

.searchBarContainer {
  position: relative;
}

.searchResult {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchResult li {
  padding: 8px;
  cursor: pointer;
}

.searchResult li:hover {
  background-color: #f0f0f0;
}

.dropdownContainer {
  margin-right: 2%;
  display: flex;
  align-items: center;
}

.dropdownLabel {
  margin-right: 10px;
  color: #1e90ff;
  font-weight: bold;
}

.dropdownMenu {
  background-color: #dff0d8;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  width: 200px;
}

.dropdownOption {
  background-color: #f0f8ff;
  color: #000000;
}

.dropdownOption:hover {
  background-color: #d3d3d3;
}

#coverSearch {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.searchResult li {
  display: flex;
  align-items: center;
}

.searchTrackContainer {
  display: flex;
  align-items: center;
  min-width: 100%;
  width: 100%;
}

.searchTrackContainer > * {
  flex: 1;
}

.searchCoverDiv {
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 10px;
}

.searchBarContainer {
  display: flex;
  align-items: center;
}

#searchInput {
  background-color: #add8e6;
  color: black;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  width: 300px;
}

.searchButtonContainer {
  margin-left: 0.1%;
}

.topContainer {
  display: flex;
  align-items: center;

  margin-top: 3%;
  margin-bottom: 3%;
}

.userProfileContainer {
  margin-left: auto;
  margin-right: 10%;
}

.UserProfile {
  display: flex;
  align-items: center;
  background-color: #ffd700;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 300px;
}

#idProfilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.addPlaylistButton {
  background-color: #ff4500;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.addPlaylistButton:hover {
  background-color: #ff5a00;
}

.addPlaylistButton:active {
  background-color: #ff3200;
}

.addPlaylistButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 69, 0, 0.5);
}

.noTracksErrorMessage {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 10%;
}

.unfollowButton {
  margin-right: 5%;
  margin-top: 2%;
  align-items: center;
}
