.selectionPlaylistContainer {
  margin-left: 10%;
  display: flex;
  align-items: center;
}

#labelSelectionPlaylist {
  margin-left: 3%;
}

.trackContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  border: 2px solid #000000;
  padding: 10px;
  margin-left: 10%;
}

.coverAlbum {
  margin-right: 5%;
  width: 100px;
  height: 100px;
}

.titleTrack {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.albumName,
.albumReleaseDate {
  margin-left: 8%;
}

.albumReleaseDate {
  font-size: 12px;
  color: gray;
}

.coverAlbum {
  height:100px;
  width:100px;
}